<div class="container">
  <form action = "/success" method="post" enctype="multipart/form-data" class="form">
    <h1>Add you file here</h1>
    <input name="name-entry-field" type="text" class="file-upload-field" value="">
    <input name="commonise-button" type="submit" class="file-upload-field" value="Standardise">
    <div class="file-upload-wrapper" data-text="Select your file!">
      <input name="file-upload-field" type="file" class="file-upload-field" value="">
    </div>
  </form>
</div>