<div class="container">
  <form action = "/success" method="post" enctype="multipart/form-data" class="form">
    <h1>Enter name to Standardise</h1>
    <input name="name-entry-field" type="text" class="file-upload-field" value="">
    <input name="commonise-button" type="submit" class="file-upload-field" value="Standardise">

    <h1>Or...</h1>


  </form>

	<form action = "/uploadSuccess" method="post" enctype="multipart/form-data" class="form">
    <h1>Add you file here</h1>
    <div class="file-upload-wrapper" data-text="Select your file!">
      <input name="file" type="file">
    </div>
	  <input type="submit" value="Submit!">
	</form>
</div>